<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand navbar-dark bg-primary" th:fragment="nav">
    <div class="navbar-nav w-100">
        <a class="navbar-brand text-color" href="/">Amenities Reservation System</a>
    </div>
    <a class="navbar-brand text-color"
       sec:authorize="isAnonymous()" th:href="@{/login}">Log in</a>
    <a class="navbar-brand text-color"
       sec:authorize="isAuthenticated()" th:href="@{/logout}">Log out</a>
</nav>
</body>
</html>